{% extends 'Layout/header.html.twig' %}

{% block title %}AddTricks{% endblock %}

{% form_theme form 'PublicSide/form/_collection.html.twig' %}

{% block main %}
    <main class="container mt-5 mb-5">
        <section class="mx-auto col-md-5">
            <h1 class="text-center mb-5">Ajouter un tricks</h1>

            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.type_tricks) }}
            {{ form_row(form.description) }}
            <img class="w-100 rounded avatar d-none" id="avatar" src="" alt="">
            {{ form_row(form.file, {
                "label": false,
                "attr": {
                    'class' : 'd-none',
                    'required' : true
                }
            }) }}
            {{ form_row(form.pictures) }}
            {{ form_row(form.videos) }}


            <button class="btn btn-dark mt-2">Envoyer</button>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ encore_entry_script_tags('collection') }}

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avatar').attr('src', e.target.result);
                    $('#avatar').removeClass('d-none')
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#trick_file").change(function(){
            readURL(this);
        });
    </script>

    {% for pictures in form.children.pictures.children %}

        <script>
            function {{ pictures.children.filepicture.vars.id }}(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#{{ pictures.children.filepicture.vars.id }}visual').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#{{ pictures.children.filepicture.vars.id }}").change(function () {
                {{ pictures.children.filepicture.vars.id }}(this);
            });
        </script>
    {% endfor %}
{% endblock %}
