{% extends 'Layout/header.html.twig' %}

{% block title %}AddTricks{% endblock %}

{% form_theme form 'PublicSide/form/_collection.html.twig' %}

{% block main %}
    <main class="container mt-5 mb-5">
        <section class="mx-auto col-md-5">
            <h1 class="text-center mb-5">Ajouter un tricks</h1>

            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.type_tricks) }}
            {{ form_row(form.description) }}
            {{ form_row(form.file, {
                "label": false,
                "attr": {
                    'class' : 'd-none',
                    'required' : true
                }
            }) }}
            {{ form_row(form.pictures) }}
            {{ form_row(form.videos) }}


            <button class="btn btn-dark mt-2">Envoyer</button>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ encore_entry_script_tags('collection') }}
{% endblock %}
