{% extends 'Layout/header.html.twig' %}

{% block title %}Show Tricks{% endblock %}

{% block main %}

    <main>
        <section class="mx-auto container-fluid w-100 p-0" id="list">
            <div class="hero-image">
                <div class="img-tricks" style="background-image: url({{ tricks.mainpicture }});">
                </div>
            </div>
            <div class="card-body mx-auto">
                <h2 class="card-title text-center">{{ tricks.name }}</h2>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <section class="col-12 col-sm-6">
                    <div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">
                        {% for pictures in tricks.pictures %}
                            <div class="card card-tricks-size mt-4 mb-4">
                                <img class="card-img-top" src="{{ pictures.url }}" alt="{{ tricks.name }}">
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section class="col-12 col-sm-6">
                    <div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">
                        {% for videos in tricks.videos %}
                            <div class="card card-tricks-size mt-4 mb-4">
                                <iframe class="item-tricks" src="{{ videos.url }}" frameborder="0"></iframe>
                            </div>
                        {% endfor %}
                    </div>
                </section>

            </div>
            <section>
                <p>{{ tricks.typetricks.nametricks }}</p>
                <p><a class="text-decoration-none arrow-color"
                      href="{{ path('app_profile', {'username': tricks.users.username}) }}">{{ tricks.users.username }}</a>
                </p>
                <p>{{ tricks.createat|date('Y-m-d H:i:s') }}</p>
                <p>{{ tricks.description }}</p>
            </section>
            <section class="m-5">
                {% if is_granted(constant("App\\Entity\\Users::ROLE_ADMIN")) or is_granted(constant("App\\Entity\\Users::ROLE_USER")) %}
                    {{ form_start(form) }}
                    {{ form_row(form.commentarie) }}
                    <button class="btn btn-dark mt-2">Envoyer</button>
                    {{ form_end(form) }}
                {% endif %}
            </section>
            <section class="row" id="comments">
                {% for commentaries in tricks.commentaries | slice(0,5) %}
                    <div class="card flex-md-row flex-sm-column col-12 w-100 mt-4 mb-4">
                        <div class="col-2  mb-2 mt-2">
                            <img class="w-100" src="{{ commentaries.users.image }}"
                                 alt="{{ commentaries.users.username }}">
                        </div>
                        <div class="col-9 mb-2 mt-2">
                            <a class="text-decoration-none arrow-color"
                               href="{{ path('app_profile', {'username': commentaries.users.username}) }}">{{ commentaries.users.username }}</a>
                            <p class="mt-1">{{ commentaries.createat|date('Y-m-d H:i:s') }}</p>
                            <p>{{ commentaries.commentarie }}</p>
                        </div>
                        {% if is_granted(constant("App\\Entity\\Users::ROLE_ADMIN")) %}
                            <form method="post" class="col-1 mb-2 mt-2">
                                <button value="{{ commentaries.id }}" id="delete"
                                        name="delete" class="btn btn-dark ml-2 mx-auto m-2"
                                        onclick="return confirm('Vous êtes sure de supprimer le tricks ?')"
                                        type="submit"><i class="fa fa-times"></i></button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </section>
            <div class="row text-center m-5">
                <button id="loadMoreComments" class="btn btn-dark col-md-6 col-8 mx-auto">Voir plus de commentaires
                </button>
            </div>
        </div>
    </main>

{% endblock %}

{% block script %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        click = 0;

        function loadMoreComments(event) {
            event.preventDefault();
            click++;
            var start = 5 * click;
            const url = "{{ path('loadMoreComments', {'tricks': tricks.name} ) }}/" + start;

            axios.get(url).then(function (response) {
                $("#comments").append(response.data);
            }).catch(function (error) {
                if (response.status === 403) {
                    window.alert("Vous n'êtes pas autorisé à effectuer cette action !");
                } else if (response.status === 404) {
                    window.alert("La page appelé n'existe pas");
                } else {
                    window.alert("Une erreur est survenue !");
                }
            });
        }

        document.getElementById("loadMoreComments").addEventListener("click", loadMoreComments);
    </script>

{% endblock %}
