{% extends 'Layout/header.html.twig' %}

{% block title %}Show Tricks{% endblock %}

{% block main %}

    <main>
        <section class="mx-auto container-fluid w-100 p-0" id="list">
            <div class="hero-image">
                <div class="img-tricks" style="background-image: url({{ tricks.mainpicture }});">
                </div>
            </div>
            <div class="card-body">
                <h2 class="card-title text-center">{{ tricks.name }}</h2>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <section class="col-12 col-sm-6">
                    <div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">
                        {% for pictures in tricks.pictures %}
                            <div class="card card-tricks-size mt-4 mb-4">
                                <img class="card-img-top" src="{{ pictures.url }}" alt="{{ tricks.name }}">
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section class="col-12 col-sm-6">
                    <div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">
                        {% for videos in tricks.videos %}
                            <div class="card card-tricks-size mt-4 mb-4">
                                <iframe class="item-tricks" src="{{ videos.url }}" frameborder="0"></iframe>
                            </div>
                        {% endfor %}
                    </div>
                </section>

            </div>
            <section>
                <p>{{ tricks.typetricks.nametricks }}</p>
                <p>{{ tricks.description }}</p>
            </section>
            <section class="m-5">
                {{ form_start(form) }}
                {{ form_row(form.commentarie) }}
                <button class="btn btn-dark mt-2">Envoyer</button>
                {{ form_end(form) }}
            </section>
            <section class="row">
                {% for commentaries in tricks.commentaries %}
                    <div class="card flex-md-row flex-sm-column col-12 w-100 mt-4 mb-4">
                        <div class="col-2  mb-2 mt-2">
                            <img class="w-100" src="{{ commentaries.users.image }}"
                                 alt="{{ commentaries.users.username }}">
                        </div>
                        <div class="col-9">
                            <h3>{{ commentaries.users.username }}</h3>
                            <p>{{ commentaries.createat|date('Y-m-d H:i:s') }}</p>
                            <p>{{ commentaries.commentarie }}</p>
                        </div>
                        {% if is_granted(constant("App\\Entity\\Users::ROLE_ADMIN")) %}
                            <form method="post" class="col-1">
                                <button value="{{ commentaries.id }}" id="delete"
                                        name="delete" class="btn btn-dark ml-2 mx-auto m-2"
                                        type="submit"><i class="fa fa-times"></i></button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </section>
        </div>
    </main>

{% endblock %}
